.bg_video {
  object-fit: cover;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  content: "";
  background: black;
  opacity: 0.5;
}
